<template>
  <div id="hero" class="hero">
    <h1 class="title">Super2Do</h1>
    <div id="todoApp" class="todo-app">
      <div id="todoMenu1" class="todo-menu-1">
        <button
          id="toggleAll"
          class="toggle-all"
        >
          <span class="rotate">&#x276F;</span>
        </button>
        <input
          id="addTodoTextInput"
          class="add-todo-text-input"
          type="text"
          placeholder="What needs to be done?"
          aria-label="Enter to do text"
          autofocus
          v-on:keyup.enter="onAdd"
          v-model="todo_text"
        />
      </div>
      <ul id="todos" class="todos" aria-label="List of to do tasks">
        <li class="todo" v-for="todo in todo_list.data" :key="todo.id">
          <div class="pretty p-icon p-round">
            <input type="checkbox" class="checkbox" :checked="todo.status == 1 ? true: false" @change="updateStatus(todo)"/>
            <div class="state">
              <i class="icon mdi mdi-check mdi-18px"></i>
              <label></label>
            </div>
          </div>
          <label :class="`${todo.status == 1 ? 'todo-text todo-checked-text' : 'todo-text'}`">{{todo.name}}</label>
        </li>
      </ul>
      <div id="todoMenu2" class="todo-menu-2">
        <label
          id="todosLeft"
          class="todos-left"
          aria-label="Number of to do tasks left to complete"
        >
        {{todo_list.data.length}} item length
        </label>
        <div id="todoMenu2Buttons" class="todo-menu-2-buttons">
          <button
            id="showAllTodos"
            class="menu-2-button"
            aria-label="Show all to do tasks"
            @click="load()"
            :class="{ active : active_el == 'all' }"
          >
            All
          </button>
          <button
            id="showUncompletedTodos"
            class="menu-2-button"
            aria-label="Show active to do tasks"
            @click="loadByStatus('0')"
            :class="{ active : active_el == 'active' }"
          >
            Active
          </button>
          <button
            id="showCompletedTodos"
            class="menu-2-button"
            aria-label="Show completed to do tasks"
            @click="loadByStatus('1')"
            :class="{ active : active_el == 'complete' }"
          >
            Completed
          </button>
        </div>
        <button
          id="deleteCompletedButton"
          class="delete-completed-button"
          aria-label="Clear completed to do tasks"
        >
          Clear completed
        </button>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  async asyncData({ $axios }) {
    const todo_list = await $axios.$get('/api/all')
    return {todo_list}
  },
  data() {
    return {
      todo_text: '',
      active_el: 'all'
    }
  },
  methods: {
    async load(){
      const todo_list = await this.$axios.$get('/api/all')
      this.todo_list = todo_list

      this.setActiveMenu("all");
    },
    async onAdd() {
      const params = new URLSearchParams();
      params.append('name', this.todo_text);

      try{
        let response = await this.$axios.post('/api/create', params, {
          headers: {
            'Content-Type': 'application/x-www-form-urlencoded'
          }
        })

        this.load()
        this.todo_text = ''

        console.log(response)
      }catch{

      }
    },
    async updateStatus(todo){
      const params = new URLSearchParams();
      params.append('name', todo.name);
      params.append('status', todo.status == "1" ? "0" : "1");

      try{
        let response = await this.$axios.put('/api/update/'+todo.id, params, {
          headers: {
            'Content-Type': 'application/x-www-form-urlencoded'
          }
        })

        this.load()
        this.todo_text = ''

        console.log(response)
      }catch{

      }
    },
    async loadByStatus(status){
      const todo_list = await this.$axios.$get('/api/all?status='+status)
      this.todo_list = todo_list

      this.setActiveMenu(status);
    },
    setActiveMenu(status){
      if(status == '0'){
        this.active_el = 'active';
      }else if(status == '1'){
        this.active_el = 'complete';
      }else{
        this.active_el = 'all';
      }
    }
  }
}
</script>
